extends layout

block content
    h1 #{heading}
    p Web application running on Port 3000.
    p This homepage template (index.pug) is loaded using Express routing and the Pug view engine for the Lab 4 MVC refactor.